body {
    font-family: 'Libre Baskerville', serif;
}

.IntroText {
    text-align: center;
}

#textContent {
    text-align: center;
}

.container {
    width: 100%;
    height: 60%;
    position: center;
    /*left: 50%;*/
    top: 65%;
}