body {
    font-family: 'Libre Baskerville', serif;
}

.social-icons {
    alignment: left;
    margin-left: 10px;
}

.social-icons li {
    display: flex;
    list-style-type: circle;
    -webkit-user-select: none;
    -moz-user-select: none;
    alignment: left;
    text-align: center;
}

.social-icons li a {
    border-bottom: none;
    text-align: left;
}

.social-icons li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    /*text-align: center;*/
}

.row {
    padding-left: 10%;
}

.card-img-top {

    position: center;
}

.card-footer {

    position: center;
}

.card-text {
    text-align: justify;
}

.container1{
    alignment: left;
    align-items: flex-start;
}
