<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

    <th:block th:replace="/Home :: importBS">...</th:block>
    <link rel="stylesheet" type="text/css" href="/entry1Decorate.css">
    <title>Entry6</title>
</head>
<body>
<th:block th:replace="/Home :: navlinks">...</th:block>
<!--Sticky Icons-->
<th:block th:replace="/Home :: importIcons">...</th:block>
<!--End of sticky icons-->

<h2 class="IntroText">Travelling Salesmen Algorithm</h2>
<div class="container">
    <p class="jumbotron">The traveling salesman problem is regarded as difficult to solve. If there is a way to break
        this problem into smaller component problems, the components will be at least as complex as the original one.
        This is what computer scientists call NP-hard problems.

        Many people have studied this problem. The easiest (and most expensive solution) is to simply try all
        possibilities. The problem with this is that for N cities you have (N-1) factorial possibilities. This means
        that for only 10 cities there are over 180 thousand combinations to try (since the start city is defined, there
        can be permutations on the remaining nine). We only count half since each route has an equal route in reverse
        with the same length or cost. 9! / 2 = 181 440
    <ul class="jumbotron">
        <li>Exact solutions to the problem can be found, using branch and bound algorithms. This is currently possible
            for
            up to 85,900 cities.
        </li>
        <li>Heuristics approaches use a set of guiding rules for selection of the next node. But since heuristics result
            in
            approximations, they will not always give the optimal solution, although high quality admissible heuristics
            can
            find a useful solution in a fraction of the time required for a full brute force of the problem. An example
            of a
            heuristic for a node would be a summation of how many unvisited nodes are "close by" a connected node. This
            could encourage the salesman to visit a group of close-by nodes clustered together before moving onto
            another
            natural cluster in the graph. See Monte Carlo algorithms and Las Vegas algorithms
        </li>
    </ul>

    </p>

</div>

<hr>
<br>
<div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562870029/slide_6_ijgvge.jpg"
                     alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562894152/giphy_qmrfd0.gif"
                     height="700" style="position: center" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562870091/1_Xfpj5ABWEnTs4JSqjQ7GNw_sjumbg.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562870127/Dijkstra_E2_80_99s_Algorithm_The_algorithm_is_as_follows_3A_bvvjhp.jpg"
                     class="d-block w-100" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
<hr>
<br>
</body>
</html>