<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

    <th:block th:replace="/Home :: importBS">...</th:block>
    <link rel="stylesheet" type="text/css" href="/entry1Decorate.css">
    <title>Entry2</title>
</head>
<body>
<th:block th:replace="/Home :: navlinks">...</th:block>
<!--Sticky Icons-->
<th:block th:replace="/Home :: importIcons">...</th:block>
<!--End of sticky icons-->

<h2 class="IntroText">The Circles of Program Design</h2>
<div class="container">
    <p id="textContent">SDLC or the Software Development Life Cycle is a process that produces software with the highest
        quality and lowest cost in the shortest time. SDLC includes a detailed plan for how to develop, alter, maintain,
        and replace a software system.
        SDLC involves several distinct stages, including planning, design, building, testing, and deployment. The most
        popular SDLC model is the Agile model.
    </p>
</div>
<hr>
<br>
<div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562869067/0_qZ1JOnVpPokvnr69_p71yvy.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562869085/agile-development-process_zkvjzn.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562869124/agile-software-development-scrum_iut4wo.jpg"
                     class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

</body>
</html>