<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

    <th:block th:replace="/Home :: importBS">...</th:block>
    <link rel="stylesheet" type="text/css" href="/entry1Decorate.css">
    <title>Entry10</title>
</head>
<body>
<th:block th:replace="/Home :: navlinks">...</th:block>
<!--Sticky Icons-->
<th:block th:replace="/Home :: importIcons">...</th:block>
<!--End of sticky icons-->

<h2 class="IntroText">CSS Style Tag</h2>
<p class="jumbotron"> The style tag is used to define style information for an HTML document.</p>
<hr>
<br>
<div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="https://res.cloudinary.com/dgmyjncc8/image/upload/v1562871299/8c4493d3-110c-4a95-8b70-7626ce2d2f4e_ufzub5.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/dgmyjncc8/image/upload/v1562871142/set-tags-display-block_n6opmn.gif"
                     class="d-block w-100" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>
<hr>
<br>
</body>
</html>