<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

    <th:block th:replace="/Home :: importBS">...</th:block>
    <link rel="stylesheet" type="text/css" href="/entry1Decorate.css">
    <title>Entry2</title>
</head>
<body>
<th:block th:replace="/Home :: navlinks">...</th:block>
<!--Sticky Icons-->
<th:block th:replace="/Home :: importIcons">...</th:block>
<!--End of sticky icons-->

<h2 class="IntroText">HTML Tags</h2>
<p id="textContent">HTML tag: It is the root of the html document which is used to specify that the document is html.</p>
<hr>
<br>
<div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="https://res.cloudinary.com/dgmyjncc8/image/upload/v1562869993/HTML_Tags_orerhq.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/dgmyjncc8/image/upload/c_scale,w_10000/v1562870446/HTML_source_code_example_tgh6n5.svg"
                     class="d-block w-100" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

</body>
</html>