<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>

    <th:block th:replace="/Home :: importBS">...</th:block>
    <link rel="stylesheet" type="text/css" href="/entry1Decorate.css">
    <title>Entry2</title>
</head>
<body>
<th:block th:replace="/Home :: navlinks">...</th:block>

<h2 class="IntroText">Procedural and Object-Oriented Programming with Java</h2>
<p id="textContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, asperiores blanditiis cumque
    dolore
    et harum illo, ipsum labore, molestiae necessitatibus praesentium quidem voluptates? Ad consequuntur, exercitationem
    incidunt inventore repellat sapiente?</p>
<hr>
<br>
<div class="container">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562870675/java-introduction-to-Object-Oriented-Programming_q2phpj.jpg"
                     class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562870752/OOP_Circle_uhklho.png"
                     class="d-block w-100" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>

</body>
</html>