<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <th:block th:fragment="importBS">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:700|Nunito&display=swap" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </th:block>
    <link rel="stylesheet" type="text/css" href="/homeDecorate.css">

    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #more {
            display: none;
        }
    </style>
</head>
<body>
<!--Nav Bar-->
<th:block th:fragment="navlinks">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd; font-family: 'Merriweather Sans', sans-serif;">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="http://localhost:8080">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/about">About the Bootcamp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8080/profile">Blog Authors</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </nav>
    <br>
</th:block>
<!--End of Nav Bar-->

<!--Sticky Social Icons-->
<th:block th:fragment="importIcons">
    <!-- Load font awesome icons -->
    <link rel="stylesheet" type="text/css" href="/stickyIcons.css">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <!-- The social media icon bar -->
    <div class="icon-bar">
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="google"><i class="fa fa-google"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
    </div>
</th:block>

<!--Content-->
<div class="container">

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>Core Java</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">Java Exception</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry1" class="btn btn-primary">View More</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Java Recursion</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry2" class="btn btn-primary">View More</a>
            </div>
            <div class="card-footer text-muted">
                07/11/2019
            </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>Github</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">What is Github?</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry3" class="btn btn-primary">View More</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Github vs Gitlab</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry4" class="btn btn-primary">View More</a>
            </div>
            <div class="card-footer text-muted">
                07/11/2019
            </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>Program Design & Algorithms</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">The Circles of Program Design</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry5" class="btn btn-primary">View More</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">Travelling Salesmen Algorithm</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry6" class="btn btn-primary">View More</a>
            </div>
            <div class="card-footer text-muted">
                07/11/2019
            </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>Object-Oriented Java</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">Procedural and Object-Oriented Programming with Java</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry7" class="btn btn-primary">View More</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">A-PIE of Java</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry8" class="btn btn-primary">View More</a>
            </div>
            <div class="card-footer text-muted">
                07/11/2019
            </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h3>HTML/CSS/Bootstrap</h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">HTML Tags</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry9" class="btn btn-primary">View More</a>
            </div>
            <div class="card-body">
                <h5 class="card-title">CSS Tag</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="http://localhost:8080/entry10" class="btn btn-primary">View More</a>
            </div>
            <div class="card-footer text-muted">
                07/11/2019
            </div>
        </div>
    </div>
    <hr>
    <br>
</div>
<!--End Content-->


</body>
</html>