<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no"/>
    <th:block th:replace="/Home :: importBS">...</th:block>
    <link rel="stylesheet" type="text/css" href="/profileDecorate.css">

    <title>Profile</title>

</head>
<body>

<th:block th:replace="/Home :: navlinks">...</th:block>

<div class="card-deck">
    <div class="row">
        <div class="col-sm-5">
            <div class="card w-70">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562857595/facebook_1562857067596_g8baaw.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Thinh Pham</h5>
                    <p class="card-text">
                        Hard-working and quick learner seeking a position where my technical and mathematical skills
                        will be contributed.
                    </p>
                    <div class="container1">
                        <ol class="social-icons">
                            <li><a href="http://www.facebook.com"><img
                                    src='https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562855036/images_jcdb9l.png'/>https://www.facebook.com/pham.thinh.75457</a>
                            </li>
                            <li><a href="http://www.twitter.com"><img
                                    src='https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562855451/_65QFl7B_400x400_fi9hfo.png'/>https://twitter.com/Tpham130</a>
                            </li>
                            <li><a href="http://www.github.com"><img
                                    src='https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562855590/github-logo-silhouette-in-a-square318-54633_xjjtx9.jpg'/>https://github.com/phamthinh14</a>
                            </li>
                            <li><a href="https://www.linkedin.com/"><img
                                    src='https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562855643/LinkedIn-Icon-Square_wwan0y.png'/>https://www.linkedin.com/in/thinh-pham-638104140/</a>
                            </li>
                        </ol>
                    </div>
                    <!--<span class="badge badge-default"><a class="fab fa-facebook-f" aria-hidden="true"></a></span>-->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 07/11/2019</small>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card w-70">
                <img src="https://res.cloudinary.com/dzk3cvgwt/image/upload/c_scale,h_640,w_960/v1562858096/dinnerjad-and-cat_fqydfj.jpg"
                     class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">David</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                    <ol class="social-icons">
                        <li><a href="http://www.facebook.com"><img
                                src='https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562855036/images_jcdb9l.png'/>http://www.facebook.com</a>
                        </li>
                        <li><a href="http://www.twitter.com"><img
                                src='https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562855451/_65QFl7B_400x400_fi9hfo.png'/>http://www.twitter.com</a>
                        </li>
                        <li><a href="http://www.github.com"><img
                                src='https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562855590/github-logo-silhouette-in-a-square318-54633_xjjtx9.jpg'/>http://www.github.com</a>
                        </li>
                        <li><a href="https://www.linkedin.com/"><img
                                src='https://res.cloudinary.com/dzk3cvgwt/image/upload/v1562855643/LinkedIn-Icon-Square_wwan0y.png'/>https://www.linkedin.com/</a>
                        </li>
                    </ol>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 07/11/2019</small>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<br>
</body>
</html>